




#selectorContainer
{
    width: 100%;
    position: relative;
    height: 150px;
    overflow-y: auto;


    #taxonomy-select
    {
        width:100%;

        tr.selectedRow
        {
            background-color:  $inverse-background-color;
        }
        tr
        {
            background-color:  $background-color;
        }

        td
        {
            height: 35px;
            border-bottom-color: $border-color;
            border-bottom-width: 1px;
            border-bottom-style:solid;
            vertical-align: middle;
            text-transform: capitalize;

            // border: thin solid $border-color;


            &.firstLevel
            {
                font-size: 16px;
                padding-left: 40px;
                font-weight: bolder;
                width: 95%;



            }




           
           
        }

    }

    .hidden
    {
        visibility:  hidden;
    }

    .invert
    {
        color: white;

    }

    .nextSelector
    {
        color: white;
        height: 35px;
        background-color: $next-color ;
        width: 75px;
        text-align: center;
        cursor: pointer
    }
}