 
#mainBar
{
    display: flex;
    

    .linkContainer
    {
        flex-grow: 1;
        
        margin: auto;
        text-align: center;
        
        
        .menuItem
        {
            text-decoration: none;
            &:visited, &:active 
                {
                 
                color: black;
            }
            
            &.menuActive
            {
                cursor:default;
                font-weight: bolder;
            }
        }
        
        
        
    }

}
