.flex-container
{
    display: flex;
    ul
    {
        list-style-type: none;
        list-style-image: none;

    }
    
    .hidden
    {
        visibility:  hidden;
    }

    .invert
    {
        color: white;

    }
    
    
    
    .returnNodeContainer
    {
         width: 2.5%;
         border: 1px solid $border-color;
         cursor:pointer;
         text-align: center;
         .returnClass
         {
             font-size: 20px;
             float: left;
         }
    }

    .parentArea
    {
        width: 37.5%;
        li 
        {
            text-transform: capitalize;
            height: 40px; 
            font-size: 12px;
            vertical-align: middle;
            padding-top: 10px; 
            border: 1px solid $border-color;
            cursor: pointer;

            &.selectedParent
            {
                background-color: $background-color;
                font-weight: bolder;
                cursor: default;
            }

        }
    }
    .childArea
    {
        width: 60%;
       // position: absolute;
        li 
        {
            text-transform: capitalize;
            background-color: $background-color;
            height: 40px;
            font-weight: bolder;
            vertical-align: middle;
            padding-top: 10px; 
            border: 1px solid $border-color;

            &.childContainer
            {

                position: relative;
                &.selectedRow
                {
                    background-color: $inverse-background-color;
                }
                
                .nextLevel
                {
                    font-size: 20px;
                    position: absolute;
                    top:0px;
                    right: 0px;
                    color: white;
                    height: 40px;
                    background-color: $next-color ;
                    width: 30px;
                    vertical-align: middle;
                    text-align: center;
                    cursor: pointer;
                    padding-top: 5px;
                     
                     
                }
            }


        }

    }


}